.NavBar{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 65px;
    width: 100%;
    border-bottom: 1px solid lightblue;
}

.NavBar__left{
    margin-top:5px;
    padding: 10px;
}

.NavBar__IVR{
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.NavBar__IVR__Message{
    width: 20vw;
    margin-top: 17px;
    flex-direction: row;
    margin-left: auto;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    font-size: 20px;
    display: inline;
}


.NavBar__IVR__Call{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 20vw;
    font-size: 30px;
    font-weight: 800;
}

.NavBar__logo{
    margin-top: -7px;
    margin-left: 10px;
    height: 40px;
    object-fit: contain;
}

.NavBar__right{
    margin-top:-2px;
    color: white;
    display: flex;
    padding: 10px;
    margin-right: 10px;
}

.NavBar__right__content{
    margin-top: 5px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.NavBar__right__option__1{
    text-align: left;
    font-size: 0.7rem;
    color: black
}

.NavBar__right__option__2{
    color: black;
    margin-top: -2px;
    font-size: 0.9rem;
    font-weight: 600;
}