.Row{
    padding: 10px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    color: black;
    background-color: lightblue;
}

.Row__display{
    display: flex;
    overflow-x: scroll;
    padding: 10px;
}

.Row__display::-webkit-scrollbar{
    display: none;
}

