.RowCard{
    padding: 20px;
    border: 1px solid black;
    margin: 10px;
    width: 300px;
    height: 18rem;
    border-radius: 2rem;
    background-color: white;
    /* box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.3) !important; */
}

.RowCard__title{
    font-size: 900;
    color: red;
}

.RowCard__text{
    padding: 20px;
    height: 130px;
    width: 250px;
    margin-top: 10px;
    color: blue;
    overflow-wrap: break-word;
    overflow-y: scroll;
    justify-content: center;
}


.RowCard__name{
    margin-top: 5px;
}

.RowCard__bottom{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.RowCard__bottom__content{
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.RowCard__bottom__content__Icon_1{
    background-color: whitesmoke;
    box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.3) !important;
    color: #ec5e6f !important;
}
.RowCard__bottom__content__Icon_2{
    background-color: whitesmoke;
    box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.3) !important;
    color: #76e2b3 !important;
}